<div class="appContainer">
  <div class="image-container">
    <div class="image-top-details">
      <div class="image-owner">
        <div class="image-owner__picture">
          <img
            class="image-owner__img"
            src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzNjcxODV8MHwxfHNlYXJjaHwxMXx8b2ZmaWNlfGVufDB8fHx8MTY2NDU3MTg2MQ&ixlib=rb-1.2.1&q=80"
            alt="photographer's profile picture"
          />
        </div>
        <div class="image-owner-details">
          <div class="image-owner__name">Oluyomi Akindele</div>
          <div class="image-owner__links">
            <span>Follow</span>
            <span>Donate</span>
          </div>
        </div>
      </div>
      <div class="image-top__actions">
        <span class="image-top__actions--item">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >favorite_border</mat-icon
          >
          <p>Like</p></span
        >
        <span class="image-top__actions--item">Free Download</span>
      </div>
    </div>
    <div class="image">
      <img alt="My image name" src="assets/images/image1.jpg" />
    </div>
  </div>
  <app-image-details></app-image-details>
</div>
