<div class="container">
  <div class="image">
    <img [src]="image?.url" alt="image description" />
    <mat-icon class="image--like" aria-hidden="false" aria-label="License icon"
      >favorite</mat-icon
    >
    <div class="image--owner">
      <div class="image--owner__picture">
        <img
          class="image--owner__img"
          src="assets/images/image3.jpg"
          alt="photographer's profile picture"
        />
      </div>
      <div class="image--owner__name">Oluyomi Akindele</div>
    </div>
    <mat-icon
      class="image--download"
      aria-hidden="false"
      aria-label="download icon"
      >download</mat-icon
    >
  </div>
</div>
