<div class="container" (click)="openImageDetails()">
  <div class="image">
    <img [src]="imageUrl" [alt]="imageDescription" />
    <mat-icon class="image--like" aria-hidden="false" aria-label="License icon"
      >favorite</mat-icon
    >
    <div class="image--owner">
      <div class="image--owner__picture">
        <img
          class="image--owner__img"
          [src]="ownerPictureUrl"
          [alt]="ownerFirstName"
        />
      </div>
      <div class="image--owner__name">
        {{ ownerLastName }} {{ ownerFirstName }}
      </div>
    </div>
    <mat-icon
      class="image--download"
      aria-hidden="false"
      aria-label="download icon"
      >download</mat-icon
    >
  </div>
</div>
