<div class="details">
  <div class="details-item details__views">
    <span class="details__title">Views</span>
    <span class="details__description">8,637</span>
  </div>
  <div class="details-item details__downloads">
    <span class="details__title">Dowloads</span>
    <span class="details__description">94</span>
  </div>
  <div class="details-item details__description">
    <span class="details__title">Description</span>
    <span class="details__description">Autum in Hamm, Germany</span>
  </div>

  <!-- <span class="details__share">Share</span>
  <span class="details__info">info</span> -->
  <span class="details--share">
    <mat-icon aria-hidden="false" aria-label="share icon">share</mat-icon>
    <p>Share</p></span
  >
  <!-- <span class="details--info__item">
    <mat-icon aria-hidden="false" aria-label="information icon">Info</mat-icon>
    <p>Info</p></span
  > -->
</div>

<div class="image--info">
  <div class="image--info__items">
    <span class="image--info__item">
      <mat-icon aria-hidden="false" aria-label="location icon"
        >location_on</mat-icon
      >
      <p>Pils, Hungary</p></span
    >
    <span class="image--info__item">
      <mat-icon aria-hidden="false" aria-label="published date icon"
        >event</mat-icon
      >
      <p>Published on October 26, 2020</p></span
    >
  </div>
  <div class="image--info__items">
    <span class="image--info__item">
      <mat-icon aria-hidden="false" aria-label="camera icon"
        >photo_camera</mat-icon
      >
      <p>DJI, FC7203</p></span
    >
    <span class="image--info__item">
      <mat-icon aria-hidden="false" aria-label="License icon"
        >verified_user</mat-icon
      >
      <p>Free to use under the Unsplash License</p></span
    >
  </div>
</div>
